In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('S:/Pizza/weekly_result.csv')

df.head()

      Unnamed: 0  predicted_sales
0     hawaiian_m        15.356654
1  classic_dlx_m        30.769432
2  five_cheese_l        17.675844
3    ital_supr_l        27.777290
4     mexicana_m         4.736635

In [2]:
df.rename(columns = {'Unnamed: 0':'pizza_name_id'}, inplace = True)
df.head()

   pizza_name_id  predicted_sales
0     hawaiian_m        15.356654
1  classic_dlx_m        30.769432
2  five_cheese_l        17.675844
3    ital_supr_l        27.777290
4     mexicana_m         4.736635

In [4]:
ingredients_df = pd.read_excel('S:/Pizza/dataset/Pizza_ingredients.xlsx')
ingredients_df.head()

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0

In [5]:
ingredients_df.Items_Qty_In_Grams.isna().sum()

np.int64(4)

In [14]:
ingredients_df.dtypes

pizza_name_id          object
pizza_name             object
pizza_ingredients      object
Items_Qty_In_Grams    float64
dtype: object

In [6]:
merged_df = pd.merge(df, ingredients_df, on='pizza_name_id')
merged_df.head()

,pizza_name_id,predicted_sales,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,hawaiian_m,15.356654,The Hawaiian Pizza,Sliced Ham,NaN
1,hawaiian_m,15.356654,The Hawaiian Pizza,Pineapple,30.0
2,hawaiian_m,15.356654,The Hawaiian Pizza,Mozzarella Cheese,20.0
3,classic_dlx_m,30.769432,The Classic Deluxe Pizza,Pepperoni,40.0
4,classic_dlx_m,30.769432,The Classic Deluxe Pizza,Mushrooms,40.0

In [7]:
qty_mean = merged_df.Items_Qty_In_Grams.mean()

In [8]:
merged_df.Items_Qty_In_Grams = merged_df.Items_Qty_In_Grams.fillna(qty_mean)

In [9]:
merged_df.sample(3)

,pizza_name_id,predicted_sales,pizza_name,pizza_ingredients,Items_Qty_In_Grams
170,calabrese_m,13.709702,The Calabrese Pizza,Red Onions,40.0
204,napolitana_l,12.829892,The Napolitana Pizza,Anchovies,40.0
344,prsc_argla_m,12.983122,The Prosciutto and Arugula Pizza,Mozzarella Cheese,20.0

In [10]:
merged_df.dtypes

pizza_name_id          object
predicted_sales       float64
pizza_name             object
pizza_ingredients      object
Items_Qty_In_Grams    float64
dtype: object

In [11]:
merged_df['Quantity'] = merged_df['predicted_sales'] * merged_df['Items_Qty_In_Grams']
merged_df.sample(3)

,pizza_name_id,predicted_sales,pizza_name,pizza_ingredients,Items_Qty_In_Grams,Quantity
484,calabrese_s,2.018917,The Calabrese Pizza,?duja Salami,20.0,40.378332
282,peppr_salami_m,12.895058,The Pepper Salami Pizza,Genoa Salami,60.0,773.703480
468,spin_pesto_m,9.074369,The Spinach Pesto Pizza,Tomatoes,20.0,181.487370

In [12]:
merged_df['predicted_sales'] = round(merged_df['predicted_sales'],0)
merged_df['Quantity'] = round(merged_df['Quantity'], 0)
merged_df.sample(3)

,pizza_name_id,predicted_sales,pizza_name,pizza_ingredients,Items_Qty_In_Grams,Quantity
267,green_garden_m,1.0,The Green Garden Pizza,Mushrooms,40.0,37.0
184,ital_veggie_s,3.0,The Italian Vegetables Pizza,Pesto Sauce,10.0,30.0
473,brie_carre_s,11.0,The Brie Carre Pizza,Prosciutto,30.0,322.0

In [13]:
purchase_order = merged_df[['pizza_ingredients', 'Quantity']]

In [17]:
purchase_order = purchase_order.groupby('pizza_ingredients').sum().sort_values(by='Quantity', ascending=False)
purchase_order

                     Quantity
pizza_ingredients
Capocollo             22397.0
Chicken               21742.0
Red Onions            19399.0
Tomatoes              15004.0
Bacon                 10480.0
...                       ...
Prosciutto              322.0
Friggitello Peppers     236.0
Alfredo Sauce           163.0
Pears                   107.0
Thyme                    54.0

[64 rows x 1 columns]

In [18]:
purchase_order.to_excel('purchase_order.xlsx', index=False)

In [19]:
purchase_order.sample(3)

                           Quantity
pizza_ingredients
Prosciutto di San Daniele    1076.0
Italian Sausage               370.0
Calabrese Salami             4889.0