In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('S:/Pizza/result.csv')

df.head()

      Unnamed: 0  predicted_sales
0     hawaiian_m        179.32199
1  classic_dlx_m        336.12943
2  five_cheese_l        369.49540
3    ital_supr_l        232.86954
4     mexicana_m        199.91017

In [6]:
df.rename(columns = {'Unnamed: 0':'pizza_name_id'}, inplace = True)
df.head()

   pizza_name_id  predicted_sales
0     hawaiian_m        179.32199
1  classic_dlx_m        336.12943
2  five_cheese_l        369.49540
3    ital_supr_l        232.86954
4     mexicana_m        199.91017

In [3]:
ingredients_df = pd.read_excel('S:\Pizza\Pizza_ingredients.xlsx')
ingredients_df.head()

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Hp\AppData\Local\Temp\ipykernel_15204\3482319843.py:1: SyntaxWarning: invalid escape sequence '\P'
  ingredients_df = pd.read_excel('S:\Pizza\Pizza_ingredients.xlsx')

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0

In [8]:
ingredients_df.Items_Qty_In_Grams.isna().sum()

np.int64(4)

In [14]:
ingredients_df.dtypes

pizza_name_id          object
pizza_name             object
pizza_ingredients      object
Items_Qty_In_Grams    float64
dtype: object

In [15]:
merged_df = pd.merge(df, ingredients_df, on='pizza_name_id')
merged_df.head()

,pizza_name_id,predicted_sales,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,hawaiian_m,179.32199,The Hawaiian Pizza,Sliced Ham,NaN
1,hawaiian_m,179.32199,The Hawaiian Pizza,Pineapple,30.0
2,hawaiian_m,179.32199,The Hawaiian Pizza,Mozzarella Cheese,20.0
3,classic_dlx_m,336.12943,The Classic Deluxe Pizza,Pepperoni,40.0
4,classic_dlx_m,336.12943,The Classic Deluxe Pizza,Mushrooms,40.0

In [16]:
qty_mean = merged_df.Items_Qty_In_Grams.mean()

In [17]:
merged_df.Items_Qty_In_Grams = merged_df.Items_Qty_In_Grams.fillna(qty_mean)

In [18]:
merged_df.sample(3)

,pizza_name_id,predicted_sales,pizza_name,pizza_ingredients,Items_Qty_In_Grams
162,ckn_pesto_l,159.57355,The Chicken Pesto Pizza,Pesto Sauce,30.0
199,spinach_fet_l,120.26594,The Spinach and Feta Pizza,Mushrooms,60.0
405,veggie_veg_m,251.74844,The Vegetables + Vegetables Pizza,Zucchini,20.0

In [19]:
merged_df.dtypes

pizza_name_id          object
predicted_sales       float64
pizza_name             object
pizza_ingredients      object
Items_Qty_In_Grams    float64
dtype: object

In [20]:
merged_df['Quantity'] = merged_df['predicted_sales'] * merged_df['Items_Qty_In_Grams']
merged_df.sample(3)

,pizza_name_id,predicted_sales,pizza_name,pizza_ingredients,Items_Qty_In_Grams,Quantity
180,ital_veggie_s,134.72646,The Italian Vegetables Pizza,Tomatoes,10.0,1347.2646
68,green_garden_s,187.75137,The Green Garden Pizza,Mushrooms,20.0,3755.0274
24,mexicana_m,199.91017,The Mexicana Pizza,Cilantro,10.0,1999.1017

In [23]:
merged_df['predicted_sales'] = round(merged_df['predicted_sales'],0)
merged_df['Quantity'] = round(merged_df['Quantity'], 0)
merged_df.sample(3)

,pizza_name_id,predicted_sales,pizza_name,pizza_ingredients,Items_Qty_In_Grams,Quantity
94,spicy_ital_l,297.0,The Spicy Italian Pizza,Goat Cheese,60.0,17830.0
5,classic_dlx_m,336.0,The Classic Deluxe Pizza,Red Onions,40.0,13445.0
235,pepperoni_m,250.0,The Pepperoni Pizza,Pepperoni,40.0,10003.0

In [25]:
merged_df.to_excel('S:\\Pizza\\purchase_order.xlsx', index=False)